<% layout('layouts/indexboilerplate') -%>
<div class="container mt-2" style="width: 80%;">
    <h2>Edit Your Question</h2>
    <form id="questionForm" action="/user/questions/<%=question._id%>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Question Title</label>
            <input type="text" class="form-control" id="title" name="question[title]" required value="<%=question.title%>"> 
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Question Body</label>
            <!-- Place the content inside the <textarea> -->
            <textarea class="form-control" id="body" name="question[body]" rows="5" required><%= question.body %></textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags (separated by space)</label>
            <input type="text" class="form-control" id="tags" name="question[tags]" value="<%= question.tags.join(' ') %>">
        </div>        
        <button type="submit" class="btn btn-primary">Edit Your Question</button>
    </form>
</div>
